* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table ,th, td {
    border: 1px solid black;
    border-spacing: 0;
    padding: 10px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input {
    width: 600px;
    margin: 20px 28%;
}