header{
    padding: 30px 0;
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: white;
    .header-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        width: 300px;
        font-weight: 500;
      }
      .fa-bars{
        display: none;
      }
      .tel{
        display: flex;
        column-gap: 20px;
        align-items: center;
        span{
            font-weight: 500;
        }
        cursor: pointer;
        .fa-phone{
            background-color: red;
            padding: 30px;
            color: white;
        }
    }
    }
    .header-bottom{
        .element{
            .fa-bars{
                display: none;
            }
            ul{
                gap: 30px;
                display: flex;
                align-items: center;
                height: 20px;
                // margin-top: 25px;
                li{
                    a{
                        font-size: 20px;
                        font-weight: 500;
                        color: black;
                        transition: 0.5s;
                        &:hover{
                            color: red;
                        }
                    }
                }
            }
        }
    }
   
}
@media only screen and (max-width: 767px){
    header .header-bottom {
        display: none;
    }
    header .header-top .tel{
    display: none;
    }
    header .header-top p{
        display: none;
    }
    header .header-top .fa-bars{
        display: block;
        color: red;
    }
    header .header-top img{
        margin-left: 150px;
    }
}
