header{
    padding: 30px 0;
    .header-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        width: 200px;
      }
      .tel{
        display: flex;
        column-gap: 20px;
        align-items: center;
        cursor: pointer;
        .fa-phone{
            background-color: red;
            padding: 30px;
            color: white;
        }
    }
    }
    .header-bottom{
        .element{
            ul{
                gap: 20px;
                li{
                    a{
                        font-size: 13px;
                        color: black;
                        transition: 0.5s;
                        &:hover{
                            color: red;
                        }
                    }
                }
            }
        }
    }
   
}
